{extend name="layout" /} {block name="title"}关于作者{/block} {block name="content"} 
<div class="page_right">
    <h1 class="page_title">关于</h1>   
    <div class="page_content">
        <p>本博客建站程序 : <a href="http://www.zqblogs.cn/" target="_blank" title="YzmCMS轻量级开源CMS">YzmCMS v2.6</a></p>
        <p><br/></p>
        <p align="center"><img src="/static/picture/14677281973247.jpg" alt="YzmCMS轻量级开源CMS"/></p>
        <p><br/></p>
        <p>YzmCMS是一款轻量级开源的内容管理系统，采用OOP方式自主开发的框架（YZMPHP）。系统易扩展，是一款高效开源的内容管理系统。系统基于PHP+Mysql架构，可运行在Linux、Windows、MacOSX、Solaris等各种平台上，程序自3.0版本起全面采用MVC设计模式，前台采用DIV+CSS设计，遵循WEB标准,兼容各种浏览器(包括IE6)，源码简洁清晰，完全采用PHP5面向对象设计，功能简单易懂具有良好的用户体验，稳定性好、扩展性及安全性强。</p>		   
    </div>
</div>
{/block}
{block name="sidebar"}
<div class="page_left">
    <ul>
        <li>
            <a href="http://www.zqblogs.cn/about/">关于</a>
        </li>
        <li>
            <a href="http://www.zqblogs.cn/about/" class="cur">关于作者</a>
        </li>
        <li>
            <a href="http://www.zqblogs.cn/liuyan">留言联系</a>
        </li>
    </ul>
</div>
{/block}