{extend name="layout" /} {block name="title"}关于作者{/block} {block name="content"}

<header class="archive-header">

  <h1>“2018年02月归档”的结果，共
    <span>5</span>条</h1>
</header>
<article class="excerpt">
  <div class="focus">
    <a href="http://www.zqblogs.cn/html/php/136.html" class="thumbnail" target="_blank">
      <img src="/static/picture/20170726170918610.jpg" alt="register_shutdown_function() 函数的学习及使用" title="register_shutdown_function() 函数的学习及使用"
      />
    </a>
  </div>
  <header>
    <h2>
      <a href="http://www.zqblogs.cn/html/php/136.html" target="_blank">register_shutdown_function() 函数的学习及使用</a>
    </h2>
  </header>
  <p class="note">register_shutdown_function定义：该函数是来注册一个会在PHP中止时执行的函数参数说明：register_shutdown_function ($callback, $para...</p>
  <p>
    <span class="muted">
      <i class="icon-user icon12"></i>袁志蒙</span>
    <span class="muted">
      <i class="ico icon-time icon12"></i>2018-02-27</span>
    <span class="muted">
      <i class="ico icon-eye-open icon12"></i>97</script>次浏览</span>
  </p>
</article>

<div class="pagenavi clearfix">
  <div class="pages">
    <li class="pageinfo">共5条记录，共1页</li>
    <li>
      <a href="/plus/search.php?archives=1517419880&cpage=1">首页</a>
    </li>
    <li class='cur'>1</li>
    <li>
      <a href="/plus/search.php?archives=1517419880&cpage=1">尾页</a>
    </li>
  </div>
</div>

{/block} {block name="sidebar"}

<div class="widget d_postlist">
  <h3 class="widget_tit">总点击排行</h3>
  <ul>
    <li>
      <a href="http://www.zqblogs.cn/html/php/76.html">
        <span class="thumbnail">
          <img src="/static/picture/20160727104459505.jpg" alt="YzmCMS标签大全" title="YzmCMS标签大全" />
        </span>
        <span class="text">YzmCMS标签大全</span>
        <span class="muted">2017-02-05</span>
        <span class="muted">
          <span class="ds-thread-count" data-replace="1">1804次阅读</span>
        </span>
      </a>
    </li>
  </ul>
</div>

<div class="widget d_textbanner">
  <a class="style03" target="_blank" href="http://www.yzmcms.com/">
    <strong>赞助开发</strong>
    <h2>支持一下作者</h2>
    <p>
      请留下赞助人姓名和联系人方式，如需帮助，我会优先解决您的问题！
      <br> 您的支持是我们最大的动力！
      <br>
      <img src="/static/picture/zfb.png">
    </p>
  </a>
</div>

<div class="widget d_textbanner">
  <h3>分享网站</h3>
  <div class="sidebar_share">
    <a rel="nofollow" class="share_weixin" onclick='yzmcms_share_wechat("http://www.zqblogs.cn");' title="分享到微信">微信</a>
    <a rel="nofollow" href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=http://www.zqblogs.cn&pics=&url=http://www.zqblogs.cn"
      class="share_qq" target="_blank" title="分享到QQ">Q Q</a>
    <a rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.zqblogs.cn&desc=分享一个不错的网站"
      class="share_qzone" target="_blank" title="分享到QQ空间">空间</a>
    <a rel="nofollow" href="http://service.weibo.com/share/share.php?url=http://www.zqblogs.cn&title=分享一个不错的网站&appkey=&searchPic=true"
      class="share_weibo" target="_blank" title="分享到微博">微博</a>
  </div>
</div>
{/block}