{extend name="layout" /} {block name="title"}前端{/block} {block name="content"}

<header class="archive-header">
  <h1>前端</h1>
</header>
<article class="excerpt">
  <div class="focus">
    <a href="http://www.zqblogs.cn/detail/" class="thumbnail" target="_blank">
      <img src="/static/picture/th_15226775985280.png" alt="YzmCMS模板-多骨鱼站点主题" title="YzmCMS模板-多骨鱼站点主题" />
    </a>
  </div>
  <header>
    <h2>
      <a href="http://www.zqblogs.cn/html/htm/145.html" target="_blank">YzmCMS模板-多骨鱼站点主题</a>
    </h2>
  </header>
  <p class="note">分享一款非常漂亮的YzmCMS前端模板,该模板由多骨鱼先生奉献，模板名称：duoguyu_v3(多骨鱼)模板，演示地址：www.duoguyu.com,安装方法：1.将下载好的模板解压，对应目录复制到您的站点...</p>
  <p>
    <span class="muted">
      <i class="icon-user icon12"></i>袁志蒙</span>
    <span class="muted">
      <i class="ico icon-time icon12"></i>2018-04-02</span>
    <span class="muted">
      <i class="ico icon-eye-open icon12"></i>219</script>次浏览</span>
  </p>
</article>

<div class="pagenavi clearfix">
  <div class="pages">
    <li class="pageinfo">共25条记录，共3页</li>
    <li>
      <a href="http://www.zqblogs.cn/qinduan/">首页</a>
    </li>
    <li class='cur'>1</li>
    <li>
      <a href="http://www.zqblogs.cn/qinduan/2.html">2</a>
    </li>
    <li>
      <a href="http://www.zqblogs.cn/qinduan/3.html">3</a>
    </li>
    <li>
      <a href="http://www.zqblogs.cn/qinduan/3.html">尾页</a>
    </li>
  </div>
</div>
{/block} {block name="sidebar"}
<div class="widget d_postlist">
  <h3 class="widget_tit">频道点击排行</h3>
  <ul>
    <li>
      <a href="http://www.zqblogs.cn/html/js/65.html">
        <span class="thumbnail">
          <img src="/static/picture/1480605245806.png" alt="JS制作漂亮的鲜花" title="JS制作漂亮的鲜花" />
        </span>
        <span class="text">JS制作漂亮的鲜花</span>
        <span class="muted">2016-12-01</span>
        <span class="muted">
          <span class="ds-thread-count" data-replace="1">744次阅读</span>
        </span>
      </a>
    </li>
  </ul>
</div>
<div class="widget d_textbanner">
  <h3 class="widget_tit">文章归档(近18个月)</h3>
  <ul style="margin-top:15px">
    <li>
      <a href="http://www.zqblogs.cn/plus/search.php?archives=1522678932" target="_blank">2018年04月(4)</a>
    </li>
  </ul>
</div>
<div class="widget d_textbanner">
  <a class="style03" target="_blank" href="http://www.zqblogs.cn/">
    <strong>赞助开发</strong>
    <h2>支持一下作者</h2>
    <p>
      请留下赞助人姓名和联系人方式，如需帮助，我会优先解决您的问题！
      <br> 您的支持是我们最大的动力！
      <br>
      <img src="/static/picture/zfb.png">
    </p>
  </a>
</div>
{/block}