{extend name="layout" /} {block name="title"}浅谈PHP框架命令行{/block} {block name="content"}
<header class="article-header">
    <h1 class="article-title">
        <h1>浅谈PHP框架命令行</h1>
    </h1>
    <div class="meta">
        <span class="muted">
            <i class="icon-user icon12"></i>
            袁志蒙</span>
        <time class="muted">
            <i class="ico icon-time icon12"></i>2018-03-25 12:33:40
        </time>
        <span class="muted">
            <i class="ico icon-eye-open icon12"></i>
            <script type="text/javascript" src="/static/js/count.js"></script>次浏览</span>
    </div>
</header>
<article class="article-content">
    <blockquote>
        <p>
            <strong>摘要：</strong>
            最近发现好几个框架都用上了PHP命令行来创建模块或控制器，这种模式对初学者的不太友好，尤其是刚接触MVC思想的人，又提高了入门难度，今天我就简单的说一下他们的原理。在PHP命令行模式（cli模式）下，...
        </p>
    </blockquote>
    <p>最近发现好几个框架都用上了PHP命令行来创建模块或控制器，这种模式对初学者的不太友好，尤其是刚接触MVC思想的人，又提高了入门难度，今天我就简单的说一下他们的原理。</p>
    <p>在PHP命令行模式（cli模式）下，可以用“ php php文件名 传入的参数 ”来运行PHP文件，例如我们创建一个test.php文件，然后运行命令：</p>
    <pre class="brush:php;toolbar:false">php test.php aaa bbb</pre>
    <p>而我们的test.php里面可以用 $_SERVER[&#39;argv&#39;] 来接收参数：</p>
    <pre class="brush:php;toolbar:false">&lt;?php
                  var_dump($_SERVER[&#39;argv&#39;]);</pre>
    <p>
        <strong>$_SERVER[&#39;argv&#39;]</strong>
    </p>
    <p>传递给该脚本的参数的数组。当脚本以命令行方式运行时，argv 变量传递给程序 C 语言样式的命令行参数。当通过 GET 方式调用时，该变量包含query string。</p>
    <p>简单的来说，命令行下，第一个参数$_SERVER[&#39;argv&#39;][0]是脚本名，其余的是传递给脚本的参数.</p>
    <p>运行结果</p>
    <p>
        <img src="/static/picture/15219528689367.png" _src="http://www.zqblogs.cn/uploads/20180325/15219528689367.png" />
    </p>
    <p>既然能收到php命令行传入的参数了，那就可以根据你的需求任意的发挥了！</p>
    <p>
        <br/>
    </p>
    <p>其实到这里原理大家都明白了，但为了方便起见，总不能一直加.php的后缀吧，于是就在框架的根目录下创建了一个没有后缀的文件，例如我在框架的根目录下创建一个 文件名叫做 “yzm” 的文件，yzm的内容是这样的：
    </p>
    <pre class="brush:php;toolbar:false">#!/usr/bin/env php
              &lt;?php
                  require &#39;test.php&#39;;</pre>
    <p>#!/usr/bin/env php写法的好处</p>
    <p>这种写法主要是为了让你的程序在不同的系统上都能适用。</p>
    <p>不管你的php是在/usr/bin/php还是/usr/local/bin/php</p>
    <p>#!/usr/bin/env php会自动的在你的用户PATH变量中所定义的目录中寻找php来执行的。</p>
    <p>
        <br/>
    </p>
    <p>同理，python脚本开头写法：</p>
    <p>#!/usr/bin/env python</p>
    <p>
        <br/>
    </p>
    <p>而这个文件又包含了刚才我们创建的test.php文件，所以这一番下来就省去了输入后缀的麻烦，于是我们这样写跟刚才的效果是一样的：</p>
    <p>
        <img src="/static/picture/15219528848847.png" _src="http://www.zqblogs.cn/uploads/20180325/15219528848847.png" />
    </p>
    <div class="related-post">
        <h6>随机新闻</h6>
        <dl class="fix">
            <div id='tag741ea220ff5887504d724069fe0ee1bf'>
                <dd>
                    <a href="http://www.zqblogs.cn/html/shenghuo/93.html" title="怎样不用ftp软件链接虚拟主机">
                        <img src="/static/picture/20170407113525114.jpg" alt="怎样不用ftp软件链接虚拟主机" />
                        <span>怎样不用ftp软件链接虚拟主机</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
    <!--related:end-->
</article>
<nav class="article-nav">
    <span class="article-nav-prev">上一篇：
        <a href="http://www.zqblogs.cn/html/server/125.html">FTP连接虚拟主机响应220 Welcome to www.net.cn FTP service.</a>
    </span>
    <span class="article-nav-next">下一篇：已经是最后一篇</span>
</nav>
<!--comment-->
<div id="tabs1" class="tab">
    <div class="tab-menu clearfix">
        <a class="current" href="javascript:void(0)">文章评论</a>
    </div>
    <script type="text/javascript" src="/static/js/jquery.qqface.js"></script>
    <script type="text/javascript" src="/static/js/js.js"></script>
    <div class="comment_box">
        <div class="comment">
            <div class="com_form">
                <form action="http://www.zqblogs.cn/plus/comment.php" method="post" onsubmit="return check_comm(this)">
                    <input type="hidden" name="articleid" value="143">
                    <input type="hidden" name="title" value="浅谈PHP框架命令行">
                    <input type="hidden" name="url" value="http://www.zqblogs.cn/html/server/143.html">
                    <input type="hidden" name="catid" value="13">
                    <textarea class="textarea" id="content" name="content" placeholder="让评论变得如此简单~"></textarea>
                    <p>
                        <input type="submit" class="sub_btn" name="dosubmit" value="提交" style="width:100px">
                        <span class="emotion">表情</span>
                        <span class="yzm">
                            <img src="/static/picture/code.php" onclick="this.src=this.src+'?'" class="codeimg" title="看不清，换一张">
                            <input type="text" name="code" required="required">
                        </span>
                    </p>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="comment_list">
            <div class="comment_list_top">共0条评论</div>
            <div class="comment_list_body">
                <ul>
                    <li>这篇文章还没有收到评论，赶紧来抢沙发吧~</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--comment:end-->
{/block}


{block name="sidebar"}
<div class="widget">
    <h3 class="widget_tit">热门标签</h3>
    <div class="tag_list">
        <ul>
            <li>
                <a href="http://blog.yzmcms.com/plus/search.php?tag=PHP" target="_blank">PHP</a>
            </li>
        </ul>
    </div>
</div>
<div class="widget d_postlist">
    <h3 class="widget_tit">推荐文章</h3>
    <ul>
        <li>
            <a href="http://www.zqblogs.cn/html/server/143.html">
                <span class="thumbnail">
                    <img src="/static/picture/20160705180250573.jpg" alt="浅谈PHP框架命令行" title="浅谈PHP框架命令行" />
                </span>
                <span class="text">浅谈PHP框架命令行</span>
                <span class="muted">2018-03-25</span>
                <span class="muted">
                    <span class="ds-thread-count" data-replace="1">50次阅读</span>
                </span>
            </a>
        </li>

    </ul>
</div>
<div class="widget d_textbanner">
    <h3 class="widget_tit">文章归档(近18个月)</h3>
    <ul style="margin-top:15px">
        <li>
            <a href="http://www.zqblogs.cn/plus/search.php?archives=1522678932" target="_blank">2018年04月(4)</a>
        </li>
    </ul>
</div>
<div class="widget d_textbanner">
    <h3>分享网站</h3>
    <div class="sidebar_share">
        <a rel="nofollow" class="share_weixin" onclick='yzmcms_share_wechat("http://www.zqblogs.cn");' title="分享到微信">微信</a>
        <a rel="nofollow" href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=http://blog.yzmcms.com&pics=&url=http://blog.yzmcms.com"
            class="share_qq" target="_blank" title="分享到QQ">Q Q</a>
        <a rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://blog.yzmcms.com&desc=分享一个不错的网站"
            class="share_qzone" target="_blank" title="分享到QQ空间">空间</a>
        <a rel="nofollow" href="http://service.weibo.com/share/share.php?url=http://blog.yzmcms.com&title=分享一个不错的网站&appkey=&searchPic=true"
            class="share_weibo" target="_blank" title="分享到微博">微博</a>
    </div>
</div>

{/block}