{extend name="layout" /} 
{block name="title"}首页{/block} 
{block name="picNav"}
<div class="banner banner-navbar">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/static/picture/banner_1.jpg" alt="程序小工">
                </div>
                <div class="swiper-slide">
                    <img src="/static/picture/banner_2.jpg" alt="程序小工">
                </div>
                <div class="swiper-slide">
                    <img src="/static/picture/banner_3.jpg" alt="程序小工">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            loop: true
        });
    </script>
{/block}

{block name="content"}
<div class="sticky">
    <h2 class="title">特别推荐</h2>
    <ul>
        <li class="item">
            <a href="http://www.zqblogs.cn/html/php/137.html" target="_blank">
                <img src="static/picture/20161020105837961.png" alt="zqblogs v3.7正式版发布" />
                <h3>标题</h3>
                <p class="muted">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
            </a>
        </li>
    </ul>
</div>
<h2 class="title">最新发布</h2>
<article class="excerpt">
    <div class="focus">
        <a href="http://www.zqblogs.cn/detail/15226775985280" class="thumbnail" target="_blank">
            <img src="static/picture/th_15226775985280.png" alt="程序小工-多骨鱼站点主题" title="程序小工-多骨鱼站点主题" />
        </a>
    </div>
    <header>
        <h2>
            <a href="http://www.zqblogs.cn/detail/15226775985280" title="程序小工-多骨鱼站点主题" target="_blank">程序小工-多骨鱼站点主题</a>
        </h2>
    </header>
    <p class="note">
        分享一款非常漂亮的zqblogs前端模板,该模板由多骨鱼先生奉献，模板名称：duoguyu_v3(多骨鱼)模板，演示地址：www.duoguyu.com,安装方法：1.将下载好的模板解压，对应目录复制到您的站点...</p>
    <p>
        <span class="muted">
            <i class="icon-user icon12"></i>周群</span>
        <span class="muted">
            <i class="ico icon-time icon12"></i> 2018-04-02</span>
        <span class="muted">
            <i class="ico icon-eye-open icon12"></i> 108次浏览</span>
    </p>
</article>
{/block}

{block name="sidebar"}
<div class="widget">
    <h3 class="widget_tit">热门标签</h3>
    <div class="tag_list">
        <ul>
            <li>
                <a href="http://www.zqblogs.cn/plus/search.php?tag=PHP" target="_blank">PHP</a>
            </li>
        </ul>
    </div>
</div>
<div class="widget d_postlist">
    <h3 class="widget_tit">推荐文章</h3>
    <ul>
        <li>
            <a href="http://www.zqblogs.cn/html/php/147.html">
                <span class="thumbnail">
                    <img src="/static/picture/20160705180250573.jpg" alt="php闭包函数（二）" title="php闭包函数（二）" />
                </span>
                <span class="text">php闭包函数（二）</span>
                <span class="muted">2018-04-14</span>
                <span class="muted">
                    <span class="ds-thread-count" data-replace="1">25次阅读</span>
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="widget">
    <h3 class="widget_tit">最新评论</h3>
    <div class="com_list">
        <ul>
            <li>
                <span class="comment_article">
                    <a title="zqblogs中 URL规则管理 的使用" href="http://www.zqblogs.cn/html/php/142.html">zqblogs中 URL规则管理 的使用</a>
                </span>
                <span class="comment_comment">网友评论：
                    <a href="javascript:void(0);" class="user_name" rel="nofollow">
                        <strong style="color:#DE4C1C">管理员</strong>
                    </a> 回复
                    <a href="javascript:void(0);" class="user_name" rel="nofollow">zqblogs博客网友</a> ：感谢支持</span>
            </li>
        </ul>
    </div>
</div>
<div class="widget d_textbanner">
    <a class="style03" target="_blank" href="http://www.zqblogs.cn/">
        <strong>赞助开发</strong>
        <h2>支持一下作者</h2>
        <p>
            请留下赞助人姓名和联系人方式，如需帮助，我会优先解决您的问题！
            <br> 您的支持是我们最大的动力！
            <br>
            <img src="/static/picture/zfb.png">
        </p>
    </a>
</div>
<div class="widget d_textbanner">
    <h3>分享网站</h3>
    <div class="sidebar_share">
        <a rel="nofollow" class="share_weixin" onclick='zqblogs_share_wechat("http://www.zqblogs.cn");' title="分享到微信">微信</a>
        <a rel="nofollow" href="http://connect.qq.com/widget/shareqq/index.html?title=分享一个不错的网站&summary=http://www.zqblogs.cn&pics=&url=http://www.zqblogs.cn"
            class="share_qq" target="_blank" title="分享到QQ">Q Q</a>
        <a rel="nofollow" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.zqblogs.cn&desc=分享一个不错的网站"
            class="share_qzone" target="_blank" title="分享到QQ空间">空间</a>
        <a rel="nofollow" href="http://service.weibo.com/share/share.php?url=http://www.zqblogs.cn&title=分享一个不错的网站&appkey=&searchPic=true"
            class="share_weibo" target="_blank" title="分享到微博">微博</a>
    </div>
</div>
{/block}