<!DOCTYPE HTML>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>关于_YzmCMS博客_袁志蒙个人博客</title>
	<meta name="keywords" content="关于yzmcms,关于yzmcms博客,袁志蒙,个人博客" />
	<meta name="description" content="YzmCMS官方博客，袁志蒙的个人博客，学习并分享PHP、Linux、MySQL和前端技术等WEB知识，记录生活的点点滴滴，是一个互联网从业者值得收藏的网站。" />
    <link rel='stylesheet' id='open_social_css-css' href='css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="css/style.css" media="all">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<!--[if lt IE 9]>
  <script src="js/html5.js"></script>
<![endif]-->
<script src="js/jquery.js"></script>
<script>window._deel = {
	maillist: '',
	maillistCode: '',
	commenton: 0,
	roll: [0, 0]
  }</script>
<script type="text/javascript">$(function() {
	$(window).scroll(function() {
	  $offset = $('.placeholder').offset(); //不能用自身的div，不然滚动起来会很卡
	  if ($(window).scrollTop() > $offset.top) {
		$('.header').css({
		  'position': 'fixed',
		  'top': '0px',
		  'left': $offset.left + 'px',
		  'z-index': '999'
		});
	  } else {
		$('.header').removeAttr('style');
		$('.container').removeAttr('style');
	  }
	});
  })
</script>	
<header class="header" style="height: 52px;">
  <div class="navbar">
	<h1 class="logo">
	  <a href="http://blog.yzmcms.com/" title="YzmCMS博客_袁志蒙个人博客" alt="YzmCMS博客_袁志蒙个人博客">YzmCMS博客_袁志蒙个人博客</a></h1>
	<ul class="nav">
	  <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home"><a href="http://blog.yzmcms.com/">首页</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="http://blog.yzmcms.com/qianduan/">前端</a><ul class="sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/htm/">html</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/css/">css</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/js/">js</a></li></ul></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="http://blog.yzmcms.com/chengxu/">程序</a><ul class="sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/php/">php</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/mysql/">mysql</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/server/">server</a></li></ul></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="http://blog.yzmcms.com/shenghuo/">生活</a><ul class="sub-menu"></ul></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="http://blog.yzmcms.com/yule/">娱乐</a><ul class="sub-menu"></ul></li><li class="menu-item menu-item-type-custom menu-item-object-custom  current-menu-item menu-item-has-children">
		<a href="http://blog.yzmcms.com/guanyu/">关于</a><ul class="sub-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/plus/guestbook.php">留言联系</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://blog.yzmcms.com/guanyuzuozhe/">关于作者</a></li></ul></li>	
	</ul>
	<div class="menu pull-right">
	  <form name="formsearch" action="http://blog.yzmcms.com/plus/search.php" method="get">
		<input class="search-input" name="q" id="search-keyword" type="text" required="required" placeholder=" 输入你要找的内容" />
		<button type="submit" class="searchbtn" name="search" title="搜一下！" value="1">
		  <i class="fa"></i>
		</button>
	  </form>
	</div>
	
	<div id="mobile_nav">
		<div class="nav_box"><span class="navicon"></span></div>
		<ul class="nav_ul">
			<li><a href="http://blog.yzmcms.com/">首页</a></li>
			<li><a href="http://blog.yzmcms.com/qianduan/">前端</a></li><li><a href="http://blog.yzmcms.com/chengxu/">程序</a></li><li><a href="http://blog.yzmcms.com/shenghuo/">生活</a></li><li><a href="http://blog.yzmcms.com/yule/">娱乐</a></li><li><a href="http://blog.yzmcms.com/guanyu/">关于</a></li>			<li><a href="http://blog.yzmcms.com/plus/guestbook.php">留言</a></li>
		</ul>
	</div>
	
</header>	 <section class="container">
		<div class="page_left">
		<ul>
		<li><a href="http://blog.yzmcms.com/guanyu/" class="cur" >关于</a></li><li><a href="http://blog.yzmcms.com/guanyuzuozhe/">关于作者</a></li>        <li><a href="http://blog.yzmcms.com/plus/guestbook.php">留言联系</a></li>		
       </ul>
		</div>
		<div class="page_right">
		   <h1 class="page_title">关于</h1>   
		   <div class="page_content">
			   <p>本博客建站程序 : <a href="http://www.yzmcms.com/" target="_blank" title="YzmCMS轻量级开源CMS">YzmCMS v2.6</a></p><p><br/></p><p align="center"><img src="picture/14677281973247.jpg" alt="YzmCMS轻量级开源CMS"/></p><p><br/></p><p>YzmCMS是一款轻量级开源的内容管理系统，采用OOP方式自主开发的框架（YZMPHP）。系统易扩展，是一款高效开源的内容管理系统。系统基于PHP+Mysql架构，可运行在Linux、Windows、MacOSX、Solaris等各种平台上，程序自3.0版本起全面采用MVC设计模式，前台采用DIV+CSS设计，遵循WEB标准,兼容各种浏览器(包括IE6)，源码简洁清晰，完全采用PHP5面向对象设计，功能简单易懂具有良好的用户体验，稳定性好、扩展性及安全性强。</p>		   </div>
		</div>
	</section>
    <footer class="footer">
      <div class="footer-inner">
        <div style="padding:0 20px;overflow:hidden;">
          <div class="copyright pull-left">
            <a href='http://blog.yzmcms.com/plus/guestbook.php'>留言联系</a>
            <a href="http://blog.yzmcms.com/" target="_blank">Copyright © 2014-2018, YzmCMS All Rights Reserved. </a>| 京ICP备16034624号</div>
          <div class="trackcode pull-right"><script src="js/z_stat.js" language="JavaScript"></script></div>
        </div>
      </div>
    </footer>
	<div id="button">
	<a href="javascript:;" rel="nofollow" class="totop" title="返回顶部"></a>
	<a href="http://www.yzmcms.com/" target="_blank" class="guanwang" title="返回官网"></a>
	<a href="http://blog.yzmcms.com/plus/guestbook.php"  target="_blank" class="lianxi" title="留言联系"></a>
	</div>
	
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    <div id="innerdiv" style="position:absolute;">  
        <img id="bigimg" style="border:5px solid #fff;" src="" />  
    </div> 
	</div>
	<script type="text/javascript" src="js/preview_image.js"></script>
	
   <div id="share_wechat" style="display:none;position:fixed;left:0%;top:0%;z-index:99;width:100%;height:100%;background:url(images/alpha.png);"><div style="position:fixed;border-radius:3px;left:50%;top:50%;z-index:100;width:260px;margin-left:-140px;margin-top:-200px;background:#fff;padding:20px 25px 15px 25px;text-align:center"><span title="关闭" onclick="yzmcms_share_wechat()" style="width:100%;font-size:14px;color:#333;cursor:pointer;margin-bottom:10px;float:right;text-align:right">关闭</span><img src="picture/share_code.png" width="220"><p style="text-align:center;font-size:16px">用微信“扫一扫”</p></div></div>
	<script type="text/javascript">
		$(document).ready(function() {
	    $(function(){
	        $(window).scroll(function(){
	            if($(this).scrollTop() > 300){
	                $('.totop').fadeIn();
	            }else{
	                $('.totop').fadeOut();
	            }
	        });
	        $('.totop').click(function(){
	            $('body,html').animate({scrollTop:0},300);
	        })
	    })

		});
		
		function yzmcms_share_wechat(){ 
			  $("#share_wechat").toggle();
		}
		
		window.onload = function (){
			var nav_box = document.getElementsByClassName("nav_box")[0];
			var ul = document.getElementsByClassName("nav_ul")[0];
			nav_box.onclick = function (){
				var style = ul.style;
				style.display = style.display == "block" ? "none" : "block";
				nav_box.className = style.display == "block" ? "open" : ""
			}
		}
	</script>	
  </body>
</html>