<header class="header" style="height: 52px;">
  <div class="navbar">
    <h1 class="logo">
            <a href="http://www.zqblogs.cn/" title="程序小工" alt="程序小工">程序小工</a></h1>
    <ul class="nav">
      <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home"><a href="http://www.zqblogs.cn/">首页</a></li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="http://www.zqblogs.cn/qianduan/">前端</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/htm/">html</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/css/">css</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/js/">js</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="http://www.zqblogs.cn/chengxu/">程序</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/php/">php</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/mysql/">mysql</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/server/">server</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="http://www.zqblogs.cn/shenghuo/">生活</a>
        <ul class="sub-menu"></ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="http://www.zqblogs.cn/yule/">娱乐</a>
        <ul class="sub-menu"></ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="http://www.zqblogs.cn/guanyu/">关于</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/plus/guestbook.php">留言联系</a></li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://www.zqblogs.cn/guanyuzuozhe/">关于作者</a></li>
        </ul>
      </li>
    </ul>
    <div class="menu pull-right">
      <form name="formsearch" action="http://www.zqblogs.cn/plus/search.php" method="get">
        <input class="search-input" name="q" id="search-keyword" type="text" required="required" placeholder=" 输入你要找的内容" />
        <button type="submit" class="searchbtn" name="search" title="搜一下！" value="1">
                    <i class="fa"></i>
                </button>
      </form>
    </div>

    <div id="mobile_nav">
      <div class="nav_box"><span class="navicon"></span></div>
      <ul class="nav_ul">
        <li><a href="http://www.zqblogs.cn/">首页</a></li>
        <li><a href="http://www.zqblogs.cn/qianduan/">前端</a></li>
        <li><a href="http://www.zqblogs.cn/chengxu/">程序</a></li>
        <li><a href="http://www.zqblogs.cn/shenghuo/">生活</a></li>
        <li><a href="http://www.zqblogs.cn/yule/">娱乐</a></li>
        <li><a href="http://www.zqblogs.cn/guanyu/">关于</a></li>
        <li><a href="http://www.zqblogs.cn/plus/guestbook.php">留言</a></li>
      </ul>
    </div>
  </div>
</header>
