<!DOCTYPE HTML>
<html>

<head>
    {include file="admin@common/_meta" /}
    <title>{block name="title"}后台{/block}</title>
</head>

<body>
    {include file="admin@common/_header" /} 
    {include file="admin@common/_menu" /} 
    {include file="admin@common/_footer" /}
    <section class="Hui-article-box">
        <nav class="breadcrumb">
            <i class="Hui-iconfont"></i>
            <a href="/" class="maincolor">首页</a>
            <span class="c-999 en">&gt;</span>
            <span class="c-666">{block name="breadcrumb"}{/block}</span>
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="Hui-iconfont">&#xe68f;</i>
			</a>
        </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                {block name="body"} {/block}
            </article>
        </div>
    </section>


</body>

</html>